$dark-blue: #1d2a47;
$green-light: #49fa95;
$white: #ffffff;
$dark: #000000;
$blue-light: #50bec2;
$blue-light-2: #73eced;
$purple: #713cf7;
$pink-dark: #d6748a;
$gray: #adbdbb;
$gray2: #f2f2f2f2;
$blue-light-3: #3c52f2;
$green-2: #483519;
$search-bar: #00b4cc;
