@use "../variables/colors" as color;

.connexion_enregistrement_container{
    width: auto;
    height: 700px;
    background-color: color.$gray2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    .separateur{
        width: 3px;
        height: 600px;
        border: 1px solid gray;
        background-color: gray;
    }
}