@use "../variables/colors" as color;

.description-container {
  width: auto;
  height: 600px;
  background-color: color.$gray2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .img-container {
    width: 500px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px black;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 70%;
      transition: width 0.8s ease-in;

      &:hover {
        width: 75%;
      }
    }

    .img-detail-pack {
      width: 40%;
      transition: width 0.8s ease-in;

      &:hover {
        width: 50%;
      }
    }
  }

  .description {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    p:nth-child(1) {
      font-size: 1.5em;
    }

    .description-detaillee {
      width: 500px;
      height: fit-content;
      padding: 10px;
      border: 2px solid transparent;
      border-radius: 10px;
      background-color: color.$dark-blue;
      font-size: x-large;
      display: flex;
      align-items: center;

      ul li {
        color: white;
        font-size: 1.3em;
        p {
          font-size: 0.8em;
          display: inline;
          color: color.$blue-light;
        }
      }
    }

    .achat {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1.6em;
      }
    }
  }
}
