@use "../variables/colors" as color;

.container-eclaircissement {
  height: 700px;
  background-color: color.$gray2;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  .title {
    font-size: 4em;
    text-align: center;
  }

  .container-questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 100px;

    .question-card:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }

    .question-card:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }

    .question-card:nth-child(3) {
      grid-area: 2 / 1 / 3 / 2;
    }

    .question-card:nth-child(4) {
      grid-area: 2 / 2 / 3 / 3;
    }

    .question-card:nth-child(5) {
      grid-area: 3 / 1 / 4 / 2;
    }

    .question-card:nth-child(6) {
      grid-area: 3 / 2 / 4 / 3;
    }
  }
}
