@use "../variables/colors" as color;

.container-footer {
  background-color: color.$gray2;

  height: 350px;
  width: 100%;

  display: flex;
  justify-content: space-around;

  .left-part,
  .right-part {
    display: flex;
    width: 40%;
  }

  .left-part {
    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 3%;
      .planet {
        word-wrap: break-word;
        font-size: 2em;
        width: 100%;
      }

      .buy {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p:nth-child(1) {
          font-size: 1.5em;
        }
        p:nth-child(2) {
          font-size: 1em;
        }
      }
    }
  }

  .middle-hr {
    margin: auto;
    height: 80%;
    width: 2px;
    background-color: color.$dark-blue;
  }

  .right-part {
    flex-direction: column;
    justify-content: space-around;

    .names {
      span {
        margin-right: 8%;
      }
    }

    img {
      object-fit: cover;
      width: 80%;
      height: 182px;
      border-radius: 12px;
    }
  }
}
