@use "../variables/colors" as color;

.formulaire_container{
    background-color: color.$gray2;
    text-align: center;
    width: auto;
    height: 500px;
    padding: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p{
        font-style: italic;
    }

    //messages d'erreurs
    .ant-form-item-explain-error{
        color: color.$pink-dark;
        font-size: small;
        font-style: italic;
    }

    .input{
        width: 260px;
        height: 40px;
        border: 1px solid gray;
        border-radius: 5px;
        font-size: medium;
        transition: all 0.2s ease-in-out;
        margin: 5px;

        &:focus{
            box-shadow: 0 0 3px color.$blue-light;
        }

        &:hover{
            border: 2px solid color.$blue-light;
        }
    }
}