@use "../variables/colors" as color;

$colors-balls: color.$purple, color.$green-light, color.$blue-light,
  color.$pink-dark, color.$gray, color.$green-2;

.container-header {
  height: 410px;
  position: relative;

  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 50px;

  background-color: color.$gray2;

  .navigation {
    position: relative;

    display: flex;
    margin-left: 10%;
    align-items: center;
    width: 80%;
    justify-content: space-between;

    .title-middle {
      font-size: 2.5em;
      line-height: 80px;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1.5px;
      bottom: 0px;
      width: 100%;
      background-color: color.$dark-blue;
      border-radius: 50px;
    }

    .links {
      display: inline-block;
      position: relative;

      &:hover {
        .icons {
          opacity: 1;
        }
      }

      .icons {
        opacity: 0;
        transition: opacity 0.5s ease-in;

        &-active {
          opacity: 1;
        }
      }
      .cart-info {
        .size-info {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          border-radius: 100px;
          background-color: color.$pink-dark;
          top: -15px;
          color: color.$white;
          left: -10px;
          opacity: 0.25;
          transition: opacity 0.3s ease-in;
        }

        &:hover > .size-info {
          opacity: 0.75;
        }
      }
    }
  }

  .container-balls {
    display: flex;
    justify-content: space-between;

    width: 60%;
    margin-left: 20%;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        .ball {
          transform: translateY(-10px);
        }
      }

      .ball {
        $size: 50px;
        width: $size;
        height: $size;
        border-radius: 50px;
        cursor: pointer;
        text-align: center;

        transition: all 0.5s ease-in;
      }

      .description {
        opacity: 0;
        transition: opacity 0.5s ease-in;
      }

      &:hover > .description {
        opacity: 1;
      }

      @for $index from 1 to length($colors-balls) + 1 {
        $color: nth($colors-balls, $index);
        .ball-#{$index} {
          background-color: $color;
        }
        .description-#{$index} {
          color: $color;
        }
      }
    }
  }
}
