@use "../variables/colors" as color;

.large_choix{
    padding: 50px;
    display: flex;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
    background-color: color.$gray2;

    .nouveaute_container{
        display: inline-block;
    }
    
    .description_container{
        display: inline-block;
        width: 300px;

        ul li{
            list-style-type: disc;
        }
    }
}