@use "../variables/colors" as color;

.container-panier {
  height: 600px;
  background-color: color.$gray2;
  display: flex;
  justify-content: center;
  align-items: center;
  .container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 80%;

    .price-list {
      grid-area: 1 / 1 / 3 / 2;
      background-color: color.$dark-blue;
      max-height: 520px;
      overflow-y: scroll;

      .container-articles {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &-empty {
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 520px;

          .empty-cart {
            height: 500px;
            width: 100%;
          }
        }
      }
    }

    .total,
    .statistics {
      background-color: color.$white;
      height: 250px;
    }

    .total {
      grid-area: 1 / 2 / 2 / 3;
    }

    .statistics {
      grid-area: 2 / 2 / 3 / 3;
    }

    .container-inside {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      margin-left: 5%;

      p:nth-child(1) {
        font-size: 1.3em;
      }
    }
  }
}
