@use "../variables/colors" as color;

.pret_achat_container{
    background-color: color.$gray2;
    text-align: center;
    width: auto;
    height: 500px;
    padding: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .buttons{
        display: flex;
        width: 500px;
        justify-content: space-evenly;
    }

    p{
        font-style: italic;
    }
}

.pret_achat_2_container{
    background-color: color.$gray2;
    text-align: center;
    width: auto;
    height: 240px;
    padding: 10px;
    font-size: x-large;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    .buttons{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}