@use "../variables/colors" as color;

.container-shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: color.$gray2;

  & > * {
    margin: 50px 0;
  }
}
