@use "../variables/colors" as color;
@use "../variables/fonts" as font;

.container-title {
  background-color: color.$gray2;
  font-family: font.$varela-round;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  p {
    font-size: 4em;
    text-align: center;
    position: relative;
    letter-spacing: 5px;
    line-height: 100px;
    hr {
      position: absolute;
      width: 150%;
      left: -25%;
      height: 5px;
      border: none;
      border-radius: 50px;
    }
  }
}
