@use "../variables/colors" as color;

$large: 10%;
$medium: 8%;
$little: 5%;

@mixin marginBetweenComponents($value) {
  margin: $value 0% $value 0%;
}

//Landing

.landing- {
  &parcourez,
  &collection {
    @include marginBetweenComponents($medium);
  }
}

//Login

.login {
  @include marginBetweenComponents($little);
}

//Panier

.panier- {
  &panier {
    @include marginBetweenComponents($large);
  }
}

//Shop

.shop- {
  &propositions,
  &post-bottom {
    @include marginBetweenComponents($little);
  }
}

//About
.about- {
  &large-choix,
  &prix-attractif,
  &pret-achat {
    @include marginBetweenComponents($little);
  }
}

//Support
.support- {
  &eclaircissement {
    @include marginBetweenComponents($little);
  }
}

//News

.container-news {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  &-card {
    width: 80%;
  }
}

//404 Error not found

.container-error-page {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  background-color: color.$gray2;

  @include marginBetweenComponents($little);

  p {
    font-size: 2em;
    letter-spacing: 2px;
  }
}
